:root {
  --orange-primary: #F97543;
  --border-primary: #363636;
  --bg-primary: #212121;
  --bg-secondary: #363636;
  --bg-input-dark: #292929;
  --text-light: #E5E5E5;
  --text-dark: #666666;
  --bg-input-light: #E5E5E5;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}